/** {box-sizing: border-box}*/ /*read into what this does*/
html {
    background-color: #FFE8D6;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
}
.background-block {
    background-color: #FFE8D6;
    width: 100%;
    height: 5em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.title {
    z-index: 2;
    color: #f2f2f2;
    background-color: #c59d47;
    padding: 2px 12px;
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
}
.top-header {
    /*background: #6B705C;*/
    background-image: url("https://secure.img1-fg.wfcdn.com/im/97042108/resize-h800-w800%5Ecompr-r85/1861/186155052/Latika+Wallpaper.jpg");
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 15px);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 5px solid #A5A58D;
    z-index: 1;
}
.nav-bar a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-align: center; /* no change */
    font-size: 17px;
}
body {
    width: calc(100% - 15px);
    background: top #B7B7A4;
    margin: 8px;
    /*position: relative;*/
    border-radius: 12px;
    /*display: flex;*/
}
/* Spotlight Slide Show */
.spotlight {
    /*margin: 90px 20px 20px 20px;*/
    max-width: 1000px;
    position: relative;
    padding-top: 100px;
    margin: auto;
    display: flex;
}
.mySlides {
    display: none;
}
.spotlight img {
    border-radius: 8px;
    width: 1000px;
    height: 500px;
    object-fit: cover;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    position: absolute;
    color: #f2f2f2;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.70);
    padding: 8px 2px;
    bottom: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: calc(100% - 4px);
    height: 30px;
    text-align: center;
}
.preview-display {
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 0.70em 3em 0.5em;
}
.number-text {
    color: #f2f2f2;
    font-size: 12px;
    position: absolute;
    top: 0;
    padding: 105px 12px 8px;
    z-index: 0.5;
}
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}
/* Hamburger Nav Icon */
.container {
    display: inline-block;
    cursor: pointer;
    justify-self: left;
    margin-left: 2em;
    margin-right: 7em;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #f2f2f2;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
/* Search Bar */
.search-bar {
    margin-right: 2em;
}
.search-bar button {
    background: #f2f2f2;
    height: 3em;
    float: right;
    border: none;
    padding: 1em;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.search-bar input[type=text] {
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
    height: 2em;
    width: 12em;
    border: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
/* Tab Links */
.tablink-container {
    display: flex;
}
.tablink {
    background-color: #4d5b5e;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 12px;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    flex-grow: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.tablink:hover {
    background-color: #636e73;
}
/* Tab Content */
.tabcontent {
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    height: 100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
#BestSellers {background-color: #3c446b; border-top: 5px solid #282f53;}
#NewReleases {background-color: #f0b762; border-top: 5px solid #e09f3e;}
#Fiction {background-color: #b04345; border-top: 5px solid #9e2a2b;}
#Nonfiction {background-color: #7d295d; border-top: 5px solid #5f0f40;}
#YoungAdult {background-color: #3e5641; border-top: 5px solid #264a2b;}
#Children {background-color: #c46f3d; border-top: 5px solid #bd622e;}
.tabcontent h2 {
    font-size: 28px;
    margin: 2px 0;
}
.tabcontent p {
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 2px solid white;
}
/* Book Cards */
.card {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    max-width: 150px;
    margin-top: 12px;
    display: inline-flex;
    text-align: center;
    font-family: arial;
}
.card img {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}