/*TODO: Use media query to create a responsive webpage layout.*/

html {
    background-image: url("../img/doggo.jpg");
    background-position: bottom;
    background-repeat: repeat;
}
header {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0; right: 0; left: 0;
    height: 60px;
    background-color: #0fb784;
    color: white;
    box-shadow: none;
}
#logo {
    height: 60px;
    width: 60px;
    margin: 0 5px;
}
#title {
    color: #f6f6f4;
}
body {
    position: relative;
    top: 60px;
}
.welcome {
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 10px;
}
.content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.random-doggo {
    /* contains the dog picture and the button */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dog-pic {
    border-radius: 8px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}
#btnClick {
    width: 500px;
    height: 40px;
    background: #0fb784;
    color: #f6f6f4;
    font-size: 1.25em;
    border: none;
    border-radius: 8px;
}
.snoot-boop {
    /* contains the sign-in form and the guest log */
    height: 550px;
    display: flex;
    flex-direction: column;
    width: 25%;

}
#sign-in {
    margin-bottom: 10px;
    background: #24b784;
    color: #f6f6f4;
    border-radius: 8px;
    width: 100%;
}
#sign-in>h2 {
    margin: 10px;
}
#sign-in>form {
    margin: 10px;
}
.guest-log {
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 15px;
    width: 100%;
    flex-grow: 1;
}