header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    background-color: #0fb784;
    color: white;
    box-shadow: none;
}
#logo {
    height: 60px;
    width: 60px;
    position: fixed;
    margin-left: 5px;
}
h1 {
    color: white;
    position: fixed;
    left: 70px;
    top: -10px;
}
body {
    position: relative;
    top: 60px;
}
#dog-pic {
    border-radius: 8px;
    background: white;
    width: 500px;
    height: 500px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5em auto;
}
#btnClick {
    width: 500px;
    height: 30px;
    background: #0fb784;
    color: #dddddd;
    border: 1px solid lightgrey;
    border-radius: 8px;
    position: relative;
    margin-left: 455px;
}