:root {
    --main: #e35142;
    --light: #f1f1f1;
    --dark: #666666;
}
html {
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0;
}
nav {
    background: var(--main);
    color: var(--light);
}
.start {
    background: var(--main);
    color: var(--light);
}
.section-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content-1 {
    width: 60%;
    padding-left: 75px;
    margin: 0 auto;
}
.img-1 {
    width: 40%;
    display: flex;
    justify-content: center;
}
.section-2 {
    background: var(--light);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
svg {
    width: 200px;
    fill: var(--main);
    padding: 50px;
}
.quote {
    background: var(--dark);
    color: var(--light);
}
h1 {
    margin: 0;
}
ul {
    margin: 0;
}
p {
    margin: 0;
}